.acfe-grid,
.acfe-grid * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.acfe-grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 14px
}

.acfe-grid>* {
    margin: 0;
    grid-column: span 12/span 12
}

body.acfe-modal-opened {
    overflow: hidden
}

.acfe-modal-overlay {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 100000
}

.acfe-modal.-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.acfe-modal {
    display: none;
    position: fixed;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 100001;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: none
}

.acfe-modal .acfe-modal-footer,
.acfe-modal .acfe-modal-footer *,
.acfe-modal .acfe-modal-title,
.acfe-modal .acfe-modal-title * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.acfe-modal>.acfe-modal-wrapper {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100vw - 60px);
    max-width: 1100px;
    max-height: calc(100vh - 60px);
    position: relative
}

.acfe-modal.acfe-modal-sub>.acfe-modal-wrapper>.acfe-modal-content,
.acfe-modal.acfe-modal-sub>.acfe-modal-wrapper>.acfe-modal-footer,
.acfe-modal.acfe-modal-sub>.acfe-modal-wrapper>.acfe-modal-title {
    pointer-events: none
}

.acfe-modal.acfe-modal-sub>.acfe-modal-wrapper::before {
    content: '';
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    pointer-events: none
}

.acfe-modal .acfe-modal-title {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    color: #23282d;
    border-bottom: 1px solid #ccd0d4;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #fcfcfc;
    padding: 0 0 0 16px;
    position: relative;
    text-align: left;
    pointer-events: auto
}

.acfe-modal .acfe-modal-title>span.title {
    line-height: 50px;
    color: #23282d;
    font-weight: 600
}

.acfe-modal .acfe-modal-title>span.title .acf-fc-layout-order {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 0 8px 0 0;
    background: #f1f1f1;
    font-size: 14px;
    color: #666;
    vertical-align: 2px
}

.acfe-modal .acfe-modal-title>button.close {
    height: 50px;
    width: 50px;
    color: #666;
    border: 0;
    border-left: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
    -o-transition: color .1s ease-in-out, background .1s ease-in-out;
    transition: color .1s ease-in-out, background .1s ease-in-out;
    background: 0 0;
    cursor: pointer
}

.acfe-modal .acfe-modal-title>button.close:hover {
    color: #00a0d2
}

.acfe-modal .acfe-modal-title>button.close::before {
    height: 50px;
    width: 50px;
    line-height: 50px !important;
    font: normal 20px/1 dashicons;
    content: "\f158";
    margin: 0;
    padding: 0
}

.acfe-modal .acfe-modal-content {
    height: 100%;
    background: #fff;
    display: block;
    position: relative;
    pointer-events: auto;
    overflow: auto
}

.acfe-modal.-iframe .acfe-modal-content {
    overflow: hidden;
    max-height: 100%;
    height: 850px
}

.acfe-modal.-iframe .acfe-modal-content>iframe {
    width: 100%;
    height: 100%;
    border: 0
}

.acfe-modal .acfe-modal-footer {
    display: block;
    color: #23282d;
    background: #fcfcfc;
    padding: 10px 16px;
    position: relative;
    text-align: right;
    border-top: 1px solid #ddd;
    pointer-events: auto
}

.acfe-modal.-small>.acfe-modal-wrapper {
    max-width: 450px
}

.acfe-modal.-medium>.acfe-modal-wrapper {
    max-width: 700px
}

.acfe-modal.-large>.acfe-modal-wrapper {
    max-width: 1100px
}

.acfe-modal.-xlarge>.acfe-modal-wrapper {
    max-width: 1400px
}

.acfe-modal:not(.-full)>.acfe-modal-wrapper {
    border-radius: 3px;
    overflow: hidden
}

.acfe-modal.-full>.acfe-modal-wrapper {
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.acfe-modal.-full>.acfe-modal-wrapper>.acfe-modal-content>.acf-fields,
.acfe-modal.-full>.acfe-modal-wrapper>.acfe-modal-content>.acf-fields>.acf-field-clone,
.acfe-modal.-full>.acfe-modal-wrapper>.acfe-modal-content>.acf-fields>.acf-field-clone>.acf-input,
.acfe-modal.-full>.acfe-modal-wrapper>.acfe-modal-content>.acf-fields>.acf-field-clone>.acf-input>.acf-clone-fields.acf-fields.-left {
    height: 100%
}

.acfe-modal.-full>.acfe-modal-wrapper>.acfe-modal-content>.acf-fields>.acf-field-clone {
    padding: 0
}

.acfe-modal.-full>.acfe-modal-wrapper>.acfe-modal-content>.acf-fields>.acf-field-clone>.acf-input {
    margin: 0
}

.acfe-modal.-full>.acfe-modal-wrapper>.acfe-modal-content>.acf-fields.-left::before,
.acfe-modal.-full>.acfe-modal-wrapper>.acfe-modal-content>.acf-fields>.acf-field-clone>.acf-input>.acf-clone-fields.acf-fields.-left::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    background: #f9f9f9;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0 1px 0 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%
}

.acfe-modal .acfe-modal-spacer {
    padding: 15px
}

.pac-container {
    z-index: 100001
}

body.acfe-modal-opened.wp-admin.upload-php>div:not([style*="display: none;"])>.media-modal.wp-core-ui:not(.acf-media-modal)::before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000
}

#side-sortables .acf-fields.-left .acfe-modal .acf-fields.-left>.acf-field::before {
    display: block
}

#side-sortables .acf-fields.-left .acfe-modal .acf-fields.-left>.acf-field>.acf-label {
    width: 20%;
    margin: 0
}

#side-sortables .acf-fields.-left .acfe-modal .acf-fields.-left>.acf-field>.acf-input {
    width: 80%
}

body.block-editor-page.acfe-modal-opened .edit-post-sidebar__panel-tabs {
    visibility: hidden
}

body.block-editor-page .edit-post-layout .acfe-modal.-open {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    background: rgba(0, 0, 0, .7)
}

body.block-editor-page .edit-post-layout .acfe-modal.-open>.acfe-modal-wrapper {
    height: 100%;
    width: 100%;
    max-height: calc(100vh - 70px);
    max-width: calc(100vw - 340px);
    margin-left: 170px;
    margin-top: 50px
}

body.block-editor-page .edit-post-layout .acfe-modal.-open>.acfe-modal-wrapper>.acfe-modal-content>.acf-fields.-left {
    height: 100%
}

body.block-editor-page .edit-post-layout .acfe-modal.-open>.acfe-modal-wrapper>.acfe-modal-content>.acf-fields.-left::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    background: #f9f9f9;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0 1px 0 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%
}

body.block-editor-page .edit-post-sidebar .acfe-modal .acf-fields>.acf-field .acf-label label {
    font-weight: 600
}

body.block-editor-page .edit-post-sidebar .acfe-modal .acf-fields.-left>.acf-field {
    margin: 0;
    padding: 15px 0;
    border-width: 1px;
    border-color: #eee
}

body.block-editor-page .edit-post-sidebar .acfe-modal .acf-fields.-left>.acf-field::before {
    border-width: 0;
    background: 0 0
}

body.block-editor-page .acfe-modal-overlay {
    display: none
}

body.block-editor-page .acfe-modal.-open.acfe-modal-sub {
    background: 0 0
}

body.block-editor-page .acfe-modal.-open.acfe-modal-sub>.acfe-modal-wrapper::before {
    background: 0 0
}

body.block-editor-page .edit-post-layout .acfe-modal.-open>.acfe-modal-wrapper {
    margin-top: 103px;
    margin-left: 170px;
    max-height: calc(100vh - 139px);
    max-width: calc(100vw - 181px)
}

body.block-editor-page.folded .edit-post-layout .acfe-modal.-open>.acfe-modal-wrapper {
    margin-top: 103px;
    margin-left: 46px;
    max-height: calc(100vh - 139px);
    max-width: calc(100vw - 57px)
}

body.block-editor-page.is-fullscreen-mode .edit-post-layout .acfe-modal.-open>.acfe-modal-wrapper {
    margin-top: 69px;
    margin-left: 9px;
    max-height: calc(100vh - 104px);
    max-width: calc(100vw - 18px)
}

body.block-editor-page .edit-post-layout.is-sidebar-opened .acfe-modal.-open>.acfe-modal-wrapper {
    max-width: calc(100vw - 461px)
}

body.block-editor-page.folded .edit-post-layout.is-sidebar-opened .acfe-modal.-open>.acfe-modal-wrapper {
    max-width: calc(100vw - 337px)
}

body.block-editor-page.is-fullscreen-mode .edit-post-layout.is-sidebar-opened .acfe-modal.-open>.acfe-modal-wrapper {
    max-width: calc(100vw - 298px)
}

@media only screen and (max-width:960px) {
    body.block-editor-page .edit-post-layout .acfe-modal.-open>.acfe-modal-wrapper {
        margin-top: 103px;
        margin-left: 170px;
        max-height: calc(100vh - 139px);
        max-width: calc(100vw - 181px)
    }

    body.block-editor-page .edit-post-layout.is-sidebar-opened .acfe-modal.-open>.acfe-modal-wrapper {
        max-width: calc(100vw - 461px)
    }

    body.block-editor-page.auto-fold .edit-post-layout .acfe-modal.-open>.acfe-modal-wrapper {
        margin-top: 103px;
        margin-left: 46px;
        max-height: calc(100vh - 139px);
        max-width: calc(100vw - 57px)
    }

    body.block-editor-page.auto-fold .edit-post-layout.is-sidebar-opened .acfe-modal.-open>.acfe-modal-wrapper {
        max-width: calc(100vw - 337px)
    }
}

@media only screen and (max-width:782px) {
    body.block-editor-page .edit-post-layout .acfe-modal.-open>.acfe-modal-wrapper {
        max-width: calc(100vw - 20px) !important;
        margin-left: 10px !important;
        max-height: calc(100vh - 127px) !important;
        margin-top: 117px !important
    }
}

.acfe-nav-tabs,
.acfe-nav-tabs * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.acfe-nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
    background: #f7f7f7;
    min-height: 39px
}

.acfe-nav-tabs .acfe-nav-tab {
    -ms-flex-item-align: start;
    align-self: flex-start;
    height: 100%;
    line-height: 38px;
    -webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
    -o-transition: color .1s ease-in-out, background .1s ease-in-out;
    transition: color .1s ease-in-out, background .1s ease-in-out;
    padding: 0 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    color: #50575e;
    border-right: 1px solid #ddd;
    background: #fcfcfc
}

.acfe-nav-tabs .acfe-nav-tab:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.acfe-nav-tabs .acfe-nav-tab:hover {
    background: #f9f9f9;
    color: #23282d
}

.acfe-nav-tabs .acfe-nav-tab.-active,
.acfe-nav-tabs .acfe-nav-tab.-active:hover {
    background: #fff;
    color: #23282d;
    height: 39px;
    margin-bottom: -1px;
    line-height: 38px
}

.acfe-nav-tabs .acfe-nav-tab.-disabled,
.acfe-nav-tabs .acfe-nav-tab.-disabled:hover {
    pointer-events: none;
    opacity: .67
}

.acfe-nav-tabs .acfe-nav-tab .dashicons {
    line-height: 40px
}

.acfe-nav-tabs.-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 1px solid #ddd;
    width: 250px
}

.acfe-nav-tabs.-left .acfe-nav-tab {
    border-right: 0;
    border-top: 1px solid #ddd;
    width: 100%;
    position: relative
}

.acfe-nav-tabs.-left .acfe-nav-tab.-active,
.acfe-nav-tabs.-left .acfe-nav-tab.-active:hover {
    background: #fff;
    color: #23282d;
    margin-bottom: 0;
    right: -1px;
    padding-left: 14px;
    height: 38px
}

.acfe-nav-tabs.-left .acfe-nav-tab:first-child {
    border-top: none
}