/*
 * Flexible: Sortable
 */
.acf-flexible-content > .values > .ui-sortable-placeholder{
    /*height:147px;*/
    border-width:2px;
    border-color:#ccc;
}

/*
 * Flexible: Layout Handle
 */
.acf-flexible-content .layout .acf-fc-layout-handle {
	color: #444;
	font-weight: 600;
}

/*
 * Flexible: Field Error
 */
.layout.acfe-flexible-modal-edit-error > .acf-fc-layout-handle{
    color:#f33b28;
}

.layout.acfe-flexible-modal-edit-error > .acf-fc-layout-handle > .acf-fc-layout-order{
    background:#f33b28;
    color:#fff;
}

/*
 * Flexible: Layout Collapsed
 */

 .acf-field-flexible-content[data-acfe-flexible-modal-edition="1"]:not([data-acfe-flexible-placeholder="1"]):not([data-acfe-flexible-preview="1"]) > .acf-input > .acf-flexible-content > .values > .layout > .acf-fc-layout-handle{
    border-bottom-width:0;
}


.acf-field-flexible-content[data-acfe-flexible-placeholder="1"] > .acf-input > .acf-flexible-content > .values > .layout.-collapsed > .acf-fc-layout-handle,
.acf-field-flexible-content[data-acfe-flexible-preview="1"] > .acf-input > .acf-flexible-content > .values > .layout.-collapsed > .acf-fc-layout-handle{
    border-bottom-width:1px;
}

.acf-field-flexible-content[data-acfe-flexible-lock="1"] > .acf-input > .acf-flexible-content > .values > .layout > .acf-fc-layout-handle{
    cursor:initial;
}

.acf-field-flexible-content[data-acfe-flexible-remove-collapse="1"][data-acfe-flexible-lock!="1"] > .acf-input > .acf-flexible-content > .values > .layout > .acf-fc-layout-handle{
    cursor:initial;
}

/*
 * Flexible: Popup Grey
 */
.acf-fc-popup.top.acfe-fc-popup-grey:before{
    border-top-color: #e1e1e1;
}
.acf-tooltip.bottom.acfe-fc-popup-grey:before{
    border-bottom-color: #e1e1e1;
}
.acf-fc-popup.acfe-fc-popup-grey{
    background: #fcfcfc;
    border-radius: 3px;
    color: #444;
    border: 1px solid #e1e1e1;
    font-size: 13px;
}
.acf-tooltip.top.acfe-fc-popup-grey{
	margin-top: -16px;
}
.acf-tooltip.bottom.acfe-fc-popup-grey{
	margin-bottom: -16px;
}

.acf-fc-popup.acfe-fc-popup-grey a{
    color: #444;
}

.acf-fc-popup.acfe-fc-popup-grey a:hover{
    color: #fff;
}

/*
 * Flexible Layout: Placeholder
 */
.layout > .acfe-fc-placeholder{
    text-align:center;
    background:#f9f9f9;
    display:block;
    text-decoration:none;
    position:relative;
    cursor:pointer;
}

.layout > .acfe-fc-placeholder:focus{
    border-color: #ccc;
    box-shadow: none;
}

.layout > .acfe-fc-placeholder > .acfe-flexible-placeholder{
    height:110px;
    overflow:hidden;
    text-align:initial;
}

.layout > .acfe-fc-placeholder > a{
    z-index:2;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border-color: #ccd0d4;
    color: #23282d;
    border-radius:100px;
    box-shadow:none;
    background:#fff;
    width: 30px;
    min-height: 30px;
    height: 30px;
    padding:0;
    display:block;
}

body:not(.acf-admin-5-3) .layout > .acfe-fc-placeholder > a{
    border-color: #999;
}

.acfe-modal.-open.acfe-modal-sub > .acfe-modal-wrapper > .acfe-modal-content > .acf-fields > .acf-field-flexible-content > .acf-input > .acf-flexible-content > .values > .layout > .acfe-fc-placeholder > a{
    z-index:0;
}

.layout > .acfe-fc-placeholder > a:active{
    transform:translate(-50%, -50%);
}

.layout > .acfe-fc-placeholder > a:focus{
    border-color: #cccccc;
    box-shadow: none;
}

.layout > .acfe-fc-placeholder > a span{
    width: 29px;
    height: 30px;
    vertical-align:top;
    line-height: 28px;
    font-size:18px;
}

body:not(.acf-admin-5-3) .layout > .acfe-fc-placeholder > a span{
    width: 30px;
    height: 30px;
}

.layout > .acfe-fc-placeholder.acfe-fc-preview{
    background:none;
}

.layout > .acfe-fc-placeholder.acfe-fc-preview > .acfe-flexible-placeholder{
    min-height:55px;
    height:auto;
}

.layout > .acfe-fc-placeholder.acfe-fc-preview > a{
    display:none;
}

.layout > .acfe-fc-placeholder.acfe-fc-preview:hover > a{
    display:block;
}

.layout > .acfe-fc-placeholder.acfe-fc-preview.-loading{
    background:#f9f9f9;
    min-height:110px;
}

.layout > .acfe-fc-placeholder.acfe-fc-preview.-loading > .acfe-flexible-placeholder > .spinner{
    visibility:visible;
    float:none;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    margin:0;
    z-index:10000;
}

.layout > .acfe-fc-placeholder .acfe-fc-overlay{
    position:absolute;
    width:100%;
    height:100%;
    padding:0;
    background-color:rgba(255,255,255,0);
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.layout > .acfe-fc-placeholder:hover .acfe-fc-overlay,
.layout > .acfe-fc-placeholder .acfe-fc-overlay.-hover{
    background-color:rgba(255,255,255,0.7);
    z-index:1;
}

.layout > .acfe-fc-placeholder.acfe-fc-preview.-loading > a span{
    visibility:hidden;
}

/*
 * Flexible Layout Collapsed
 */
.layout > .acf-fields > .acfe-flexible-opened-actions,
.layout > .acf-table > .acfe-flexible-opened-actions{
    background:#f9f9f9;
    border-top:1px solid #e1e1e1;
    padding:12px;
    text-align:right;
    clear:both;
}

/*
 * Flexible Thumbnails
 *
 */
.acfe-flexible-layout-thumbnail{
    display:block;
    width:100%;
    height: 9.8vw; /* 200px / 1080p */
    background-color:#eee;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
    margin-bottom:15px;
}

.acfe-flexible-layout-thumbnail.acfe-flexible-layout-thumbnail-not-found:after{
    content: "\f180";
    font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    text-align: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#ccc;
    font-size: 110px;
}

.acfe-col-2 .acfe-flexible-layout-thumbnail{
    height:20.5vw;
}

.acfe-col-3 .acfe-flexible-layout-thumbnail{
    height:13.3vw;
}

.acfe-col-5 .acfe-flexible-layout-thumbnail{
    height:7.65vw;
}

.acfe-col-6 .acfe-flexible-layout-thumbnail{
    height:6.2vw;
}

@media only screen and (max-width:960px){
    .acfe-flexible-layout-thumbnail,
    .acfe-flex-container .acfe-flexible-layout-thumbnail{
        height: 18.4vw; /* 200px */
    }
}

@media only screen and (max-width:720px){
    .acfe-flexible-layout-thumbnail,
    .acfe-flex-container .acfe-flexible-layout-thumbnail{
        height: 37.2vw; /* 200px */
    }
}

/*
 * Flexible Thumbnails (no modal)
 *
 */
.acfe-flexible-layout-thumbnail.acfe-flexible-layout-thumbnail-no-modal{
    display:block;
    width: 230px;
    height: 103px;
    background-color:#1f2329;
}

.acfe-flexible-layout-thumbnail.acfe-flexible-layout-thumbnail-no-modal.acfe-flexible-layout-thumbnail-not-found:after{
    color:#2F353E;
}

/*
 * Flexible Stylised Button
 *
 */
.acf-field.acf-field-flexible-content[data-acfe-flexible-stylised-button="1"] > .acf-input > .acf-flexible-content:not(.empty) > .values{
    margin-bottom:15px;
}

.acf-field.acf-field-flexible-content > .acf-input > .acf-flexible-content > .acfe-flexible-stylised-button{
    padding: 40px 20px;
    border: #ccc dashed 2px;
    text-align: center;
}

.acf-field.acf-field-flexible-content > .acf-input > .acf-flexible-content > .acfe-flexible-stylised-button > .acf-actions{
    text-align: center;
}

.acf-field.acf-field-flexible-content > .acf-input > .acf-flexible-content .acf-actions .acf-button .dashicons{
    width: auto;
    height: auto;
    vertical-align: text-top;
}

/*
 * Flexible Hide Empty Message
 *
 */
.acf-field.acf-field-flexible-content[data-acfe-flexible-hide-empty-message="1"] > .acf-input > .acf-flexible-content > .no-value-message{
    display:none;
}

.acf-field.acf-field-flexible-content[data-acfe-flexible-hide-empty-message="1"] > .acf-input > .acf-flexible-content.-empty > .values{
    margin-bottom:0;
}