.form-table>tbody>.acf-field>.acf-label label {
    font-size: 13px;
    color: #444;
}

/*
 * ACFE: Better Taxonomy - List
 */
.edit-tags-php #col-container #col-right{
    float:none;
    width:auto;
}

.edit-tags-php #col-container #col-right .col-wrap{
    padding:0;
}

.edit-tags-php #col-left.acfe-bt{
    float:none;
    width:100%;
}

.edit-tags-php #col-left.acfe-bt .col-wrap{
    padding:0;
}

.edit-tags-php #col-left.acfe-bt #poststuff{
    min-width:100%;
}

.edit-tags-php #acfe-bt-form .submit.acf-field{
    display:block !important;
    margin: 0;
}

/* 
 * ACFE: Better Taxonomy - Edit
 */
.term-php #edittag{
    max-width:100%;
    width: 100%;
    float:left;
}

.term-php #edittag > div > div > h2{
    background:#fff;
    border: 1px solid #ccd0d4;
    border-bottom: 0;
    margin:0;
    color: #23282d;
    font-size: 14px;
    padding: 8px 12px;
    line-height: 1.4;
}

.term-php #edittag > div > div > h2:first-of-type{
    margin-top:13px;
}

.term-php #edittag > div > div > h2 + .form-table{
    margin-top:0;
}

.term-php #edittag .form-table{
    background:#fff;
    width:100%;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-bottom: 20px; /* Fix for Yoast / Rank Math Metaboxes below the term */
}

.term-php #edittag .form-table > tbody > tr > td{
    background: #fff;
    border-top: 1px solid #E1E1E1;
    position:initial;
}

.term-php #edittag .form-table > tbody > tr > td p{
    font-size:13px;
}

.term-php #edittag .form-table > tbody > tr > th,
.term-php #edittag .form-table > tbody > tr > td.acf-label{
    border-top: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    background: #F9F9F9;
    padding:15px 12px;
    width:20%;
    font-size:13px;
    position:initial;
    color:#444;
}

.term-php #edittag .form-table > tbody > tr:first-of-type > td,
.term-php #edittag .form-table > tbody > tr:first-of-type > th{
    border-top: 1px solid #ccd0d4;
}

.term-php #edittag .form-table > tbody > tr.acf-field{
    position: initial;
}

.term-php #edittag .form-table > tbody > tr.acf-tab-wrap > td{
    background: #F9F9F9;
    padding:15px 0 0 0;
}

.term-php #edittag .form-table > tbody > tr.acf-tab-wrap > td ul.acf-tab-group{
    border-bottom:0;
    padding:0 0 0 20%;
}

.term-php #edittag .form-table > tbody > tr.acf-tab-wrap > td ul.acf-tab-group > li.active a{
    background: #fff;
}

.term-php #poststuff.acfe-acfe-bt-admin-column{
    min-width:auto;
    padding:0;
}

.term-php #poststuff.acfe-acfe-bt-admin-column .inside{
    margin: 0;
    padding: 0;
}

.acf-fields.-left > .acf-field.acfe-bt-no-label{
    padding-left: 20%;
}

/* 
 * ACFE: Better Taxonomy - Edit (Fix ACF)
 */
.term-php #edittag .acf-fields.-left > .acf-field {
	padding-left: 0;
}

.term-php #edittag .acf-fields.-left > .acf-field:before {
	width:20%;
}

.term-php #edittag .acf-fields.-left > .acf-field > .acf-label {
	width: 20%;
	margin-left: 0;
	padding: 0 12px;
}

.term-php #edittag .acf-fields.-left > .acf-field > .acf-input {
	padding: 0 12px;
}

/*
 * ACFE: Better User - Edit
 */
#profile-page > form{
    max-width:100%;
    width: 100%;
    float:left;
}

#profile-page > form > div > div > h2{
    background:#fff;
    border: 1px solid #ccd0d4;
    border-bottom: 0;
    margin:0;
    color: #23282d;
    font-size: 14px;
    padding: 8px 12px;
    line-height: 1.4;
}

#profile-page > form > div > div > h2 + p{
    margin:0;
    border: 1px solid #ccd0d4;
    border-bottom:0;
    padding:15px 12px;
}

#profile-page > form > div > div > h2 + .form-table,
#profile-page > form > div > div > h2 + p + .form-table {
    margin-top:0;
}

#profile-page > form .form-table{
    background:#fff;
    width:100%;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-bottom: 20px; /* Fix for Yoast / Rank Math Metaboxes below the term */
}

#profile-page > form .form-table > tbody > tr > td{
    background: #fff;
    border-top: 1px solid #E1E1E1;
    position:initial;
}

#profile-page > form .form-table > tbody > tr:first-of-type > td,
#profile-page > form .form-table > tbody > tr:first-of-type > th{
    border-top: 1px solid #ccd0d4;
}

#profile-page > form .form-table > tbody > tr > td p{
    font-size:13px;
}

#profile-page > form .form-table > tbody > tr > th,
#profile-page > form .form-table > tbody > tr > td.acf-label{
    border-top: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    background: #F9F9F9;
    padding:15px 12px;
    width:20%;
    font-size:13px;
    position:initial;
    color:#444;
}

#profile-page > form .form-table > tbody > tr > td.td-full{
    padding:15px 12px;
}

#profile-page > form .form-table > tbody > tr.acf-field{
    position: initial;
}

#profile-page > form .form-table > tbody > tr.acf-tab-wrap > td{
    background: #F9F9F9;
    padding:15px 0 0 0;
}

#profile-page > form .form-table > tbody > tr.acf-tab-wrap > td ul.acf-tab-group{
    border-bottom:0;
    padding:0 0 0 20%;
}

#profile-page > form .form-table > tbody > tr.acf-tab-wrap > td ul.acf-tab-group > li.active a{
    background: #fff;
}

#profile-page > form #poststuff.acfe-acfe-bt-admin-column{
    min-width:auto;
    padding:0;
}

#profile-page > form #poststuff.acfe-acfe-bt-admin-column .inside{
    margin: 0;
    padding: 0;
}

.acf-fields.-left > .acf-field.acfe-bt-no-label{
    padding-left: 20%;
}

/*
 * ACFE: Better Taxonomy - Edit (Fix ACF)
 */
#profile-page > form .acf-fields.-left > .acf-field {
    padding-left: 0;
}

#profile-page > form .acf-fields.-left > .acf-field:before {
    width:20%;
}

#profile-page > form .acf-fields.-left > .acf-field > .acf-label {
    width: 20%;
    margin-left: 0;
    padding: 0 12px;
}

#profile-page > form .acf-fields.-left > .acf-field > .acf-input {
    padding: 0 12px;
}