.acf-field-setting-acfe_permissions > .acf-input > .acf-fields,
.acf-field-setting-acfe_settings > .acf-input > .acf-fields,
.acf-field-setting-acfe_validate > .acf-input > .acf-fields,
.acf-field-setting-acfe_update > .acf-input > .acf-fields,
.acf-field-setting-acfe_google_map_zooms > .acf-input > .acf-fields,
.acf-field-setting-acfe_hide > .acf-input > .acf-fields,
.acf-field-setting-acfe_wysiwyg_toolbar_buttons > .acf-input > .acf-fields,

.acf-field-setting-acfe_bidirectional > .acf-input > .acf-fields,
.acf-field-setting-acfe_settings > .acf-input > .acf-fields > .acf-field.acf-field-acfe-settings-rules-or,
.acf-field-setting-acfe_validate > .acf-input > .acf-fields > .acf-field.acf-field-acfe-validate-rules-or,
.acf-field-setting-acfe_update > .acf-input > .acf-fields > .acf-field.acf-field-acfe-update-functions{
    border:0;
}

.acf-field-setting-acfe_bidirectional > .acf-input > .acf-fields > .acf-field,
.acf-field-setting-acfe_permissions > .acf-input > .acf-fields > .acf-field,
.acf-field-setting-acfe_settings > .acf-input > .acf-fields > .acf-field,
.acf-field-setting-acfe_validate > .acf-input > .acf-fields > .acf-field,
.acf-field-setting-acfe_update > .acf-input > .acf-fields > .acf-field,
.acf-field-setting-acfe_google_map_zooms > .acf-input > .acf-fields > .acf-field,
.acf-field-setting-acfe_hide > .acf-input > .acf-fields > .acf-field{
    padding:0;
}


.acf-field-setting-acfe_wysiwyg_toolbar_buttons > .acf-input > .acf-fields{
    margin-left:-12px;
    margin-right:-12px;
}

.acf-field-setting-acfe_wysiwyg_toolbar_buttons > .acf-input > .acf-fields .acf-actions{
    text-align:left;
}

.acf-field-setting-acfe_wysiwyg_toolbar_buttons > .acf-input > .acf-fields > .acf-field{
    padding-top:0;
    padding-bottom:0;
    border:0;
}

.acf-field-setting-acfe_field_data{
    display:none;
}

.acf-field-setting-acfe_google_map_zooms > .acf-input > .acf-fields > .acf-field{
    border-left:0;
}

.acf-field-hide-front.acfe_width_auto{
    margin-right:30px;
}

.acf-field-setting-acfe_bidirectional > .acf-input > .acf-fields > .acf-field.acf-field-acfe-bidirectional-enabled > .acf-label,
.acf-field-setting-acfe_bidirectional > .acf-input > .acf-fields > .acf-field.acf-field-acfe-bidirectional-related > .acf-label,
.acf-field-setting-acfe_settings > .acf-input > .acf-fields > .acf-field.acf-field-acfe-settings-activate > .acf-label,
.acf-field-setting-acfe_validate > .acf-input > .acf-fields > .acf-field.acf-field-acfe-validate-activate > .acf-label,
.acf-field-setting-acfe_update > .acf-input > .acf-fields > .acf-field.acf-field-acfe-update-activate > .acf-label{
    display:none;
}

.acf-field-setting-acfe_update > .acf-input .acf-repeater.-empty.-table > table,
.acf-field-setting-acfe_settings > .acf-input .acf-repeater.-empty.-table > table,
.acf-field-setting-acfe_validate > .acf-input .acf-repeater.-empty.-table > table,
.acf-field-acfe-meta > .acf-input .acf-repeater.-empty.-table > table{
    border:0;
    display:none;
}

.acf-field-setting-acfe_update > .acf-input .acf-repeater.-empty.-table > table > thead,
.acf-field-setting-acfe_settings > .acf-input .acf-repeater.-empty.-table > table > thead,
.acf-field-setting-acfe_validate > .acf-input .acf-repeater.-empty.-table > table > thead,
.acf-field-acfe-meta > .acf-input .acf-repeater.-empty.-table > table > thead{
    display:none;
}

.acf-field-setting-acfe_update > .acf-input > .acf-repeater .acf-actions,
.acf-field-setting-acfe_settings > .acf-input > .acf-repeater .acf-actions,
.acf-field-setting-acfe_validate > .acf-input > .acf-repeater .acf-actions,
.acf-field-acfe-meta > .acf-input > .acf-repeater .acf-actions{
    text-align:left;
}

.acf-repeater.-row > table,
.acf-repeater.-block > table{
    border-collapse: separate;
    border-spacing: 0 15px;
    background: none;
    border: 0;
    margin-top: -15px;
    margin-bottom: -7px;
}

.acf-repeater.-row > table > *,
.acf-repeater.-block > table > *{
    border-collapse: collapse;
    border-spacing: 0;
}

.acf-repeater.-row > table > tbody > tr > td,
.acf-repeater.-block > table > tbody > tr > td{
    border-top: 1px solid #ccd0d4 !important;
    border-bottom: 1px solid #ccd0d4 !important;
}

.acf-repeater.-row > table > tbody > tr > td:first-of-type,
.acf-repeater.-block > table > tbody > tr > td:first-of-type{
    border-left: 1px solid #ccd0d4 !important;
}

.acf-repeater.-row > table > tbody > tr > td:last-of-type,
.acf-repeater.-block > table > tbody > tr > td:last-of-type{
    border-right: 1px solid #ccd0d4 !important;
}

body:not(.acf-admin-5-3) .acf-repeater.-row > table > tbody > tr > td,
body:not(.acf-admin-5-3) .acf-repeater.-block > table > tbody > tr > td{
    border-top: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
}

body:not(.acf-admin-5-3) .acf-repeater.-row > table > tbody > tr > td:first-of-type,
body:not(.acf-admin-5-3) .acf-repeater.-block > table > tbody > tr > td:first-of-type{
    border-left: 1px solid #E1E1E1;
}

body:not(.acf-admin-5-3) .acf-repeater.-row > table > tbody > tr > td:last-of-type,
body:not(.acf-admin-5-3) .acf-repeater.-block > table > tbody > tr > td:last-of-type{
    border-right: 1px solid #E1E1E1;
}

.acf-field-setting-acfe_bidirectional > .acf-input > .acf-fields > .acf-field.acf-field-acfe-bidirectional-related{
    margin-left:10px;
}

.acfe_width_auto{
    width:auto !important;
}

.column-acf-field-group-category{
    width:125px;
}

td.acf-field-group-category a{
    word-wrap: break-word;
    padding: 2px 5px;
    margin: 0 1px;
    border-radius:2px;
    background: rgba(0,0,0,.06);
    color:#23282d;
}

.column-acfe-locations{
    width:100px;
}

#acf-field-group-wrap .wp-list-table .column-acf-fg-status{
    width:70px;
}

#acf-field-group-wrap .wp-list-table .column-acf-fg-count{
    width:70px;
}

.column-acfe-local{
    width:50px;
}

.column-acfe-source{
    width:150px;
}

.column-acfe-autosync-php,
.column-acfe-autosync-json{
    width:65px;
    text-align:center;
}

.acf-field-image[data-name="acfe_flexible_thumbnail"] > .acf-input > .acf-image-uploader.has-value > .show-if-value.image-wrap{
    max-width:85px !important;
}

/*
 * ACFE: Flexible Content
 *
 */
 
/* Fix ACF not setting proper border color on Flexible Row Style*/
body.acf-admin-5-3 .acf-field-setting-fc_layout .acf-input-wrap.select{
    border-color: #7e8993;
}

body.acf-admin-5-3 .acf-field-setting-fc_layout .acf-input-wrap.select select{
    min-height: 28px;
}

.acf-field-acfe-flexible-modal > .acf-input > .acf-fields{
    border:0;
}

.acf-field-acfe-flexible-modal > .acf-input > .acf-fields .acf-field-acfe-flexible-modal-enabled{
    padding:0;
}

.acf-field-acfe-flexible-modal > .acf-input > .acf-fields .acf-field-acfe-flexible-modal-enabled .acf-label{
    display:none;
}

.acf-field-acfe-flexible-modal > .acf-input > .acf-fields .acf-field-acfe-flexible-modal-enabled{
    margin-right:10px;
}

.acf-field-acfe-flexible-modal > .acf-input > .acf-fields .acf-field-acfe-flexible-modal-title,
.acf-field-acfe-flexible-modal > .acf-input > .acf-fields .acf-field-acfe-flexible-modal-col,
.acf-field-acfe-flexible-modal > .acf-input > .acf-fields .acf-field-acfe-flexible-modal-categories{
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    border-top:0;
    border-left:0 !important;
    min-height:55px;
}

.acf-field-setting-fc_layout > .acf-input > .acf-fc-meta .acf-field[data-name=acfe_flexible_settings_label],
.acf-field-setting-fc_layout > .acf-input > .acf-fc-meta .acf-field[data-name=acfe_flexible_thumbnail],
.acf-field-setting-fc_layout > .acf-input > .acf-fc-meta .acf-field[data-name=acfe_flexible_category],
.acf-field-setting-fc_layout > .acf-input > .acf-fc-meta .acf-field[data-name=acfe_flexible_settings_label],
.acf-field-setting-fc_layout > .acf-input > .acf-fc-meta .acf-field[data-name=acfe_flexible_settings],
.acf-field-setting-fc_layout > .acf-input > .acf-fc-meta .acf-field[data-name=acfe_flexible_settings_size]{
    margin:0;
}

.acf-field-setting-fc_layout > .acf-input > .acf-fc-meta .acf-field[data-name=acfe_flexible_settings],
.acf-field-setting-fc_layout > .acf-input > .acf-fc-meta .acf-field[data-name=acfe_flexible_settings_size]{
    margin-right: 10px;
}

.acf-field-setting-fc_layout > .acf-input > .acf-fc-meta .acf-field[data-name=acfe_flexible_settings_label] > .acf-input{
    margin:0;
}

.acf-field-setting-fc_layout > .acf-input > .acf-fc-meta > .acf-fc-meta-label:first-of-type{
    margin:0;
}

.acf-field-setting-fc_layout .select2-container--default .select2-selection--multiple li{
    margin-bottom:0;
}

/*
 * ACFE Column
 */
.acf-field-object-acfe-column .acf-field-setting-label,
.acf-field-object-acfe-column .acf-field-setting-name,
.acf-field-object-acfe-column .acf-field-setting-instructions,
.acf-field-object-acfe-column .acf-field-setting-required,
.acf-field-object-acfe-column .acf-field-setting-warning,
.acf-field-object-acfe-column .acf-field-setting-wrapper{
    display: none;
}

.acf-field-object + .acf-field-object-acfe-column:before {
	display: block;
    content: "";
    height: 5px;
    width: 100%;
    background: #f9f9f9;
    border-bottom: #f0f0f0 solid 1px;
}

.acf-field-object-acfe-column .li-field-name{
    visibility: hidden;
}

/*
 * ACFE Taxonomy Terms
 */
.acf-field-setting-allow_terms > .acf-input > ul > li:first-of-type{
    width: calc(100% - 110px);
}

.acf-field-setting-allow_terms > .acf-input > ul > li:last-of-type{
    width: 110px;
}